[submodule "vim/pack/kreisys/start/vim-airline"]
	path = vim/pack/kreisys/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/kreisys/start/vim-terraform"]
	path = vim/pack/kreisys/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/kreisys/start/vim-surround"]
	path = vim/pack/kreisys/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/kreisys/start/nerdcommenter"]
	path = vim/pack/kreisys/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/pack/kreisys/start/vim-gitgutter"]
	path = vim/pack/kreisys/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/kreisys/start/editorconfig-vim"]
	path = vim/pack/kreisys/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/kreisys/start/ctrlp.vim"]
	path = vim/pack/kreisys/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/kreisys/start/vim-coffee-script"]
	path = vim/pack/kreisys/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/pack/kreisys/start/vim-better-whitespace"]
	path = vim/pack/kreisys/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/pack/kreisys/start/nerdtree"]
	path = vim/pack/kreisys/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/kreisys/start/nerdtree-git-plugin"]
	path = vim/pack/kreisys/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vim/pack/kreisys/start/vim-vaultproject"]
	path = vim/pack/kreisys/start/vim-vaultproject
	url = https://github.com/hashivim/vim-vaultproject
