[submodule "vim/pack/kreisys/start/vim-airline"]
	path = vim/pack/kreisys/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/kreisys/start/vim-terraform"]
	path = vim/pack/kreisys/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "vim/pack/kreisys/start/vim-surround"]
	path = vim/pack/kreisys/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/kreisys/start/nerdcommenter"]
	path = vim/pack/kreisys/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/pack/kreisys/start/vim-gitgutter"]
	path = vim/pack/kreisys/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
